@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            @* <div class="top-row px-4">
                <AccessControl />
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
                </div> *@
            @* <NavMenu /> *@

            <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
                <a class="navbar-brand" href=""><img class="logo" style="width: 30px;height: 25px"
                        src="/Images/logo_large.png" /></a>

                <a class="btn btn-success btn-sm text-white" href="produit/new">
                    <span class="oi oi-plus mr-1"></span>Mettre en vente
                </a>

                <button class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent" @onclick="ToggleNavMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="produit">
                                <span class="oi oi-briefcase" aria-hidden="true"></span> Produits
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <NavLink class="nav-link" href="category">
                                <span class="oi oi-list" aria-hidden="true"></span> Catégories
                            </NavLink>
                        </li>

                        <li class="nav-item">
                            <NavLink class="nav-link" href="user">
                                <span class="oi oi-people" aria-hidden="true"></span> Utilisateurs
                            </NavLink>
                        </li>

                        @* <AuthorizeView>
                            <li class="nav-item">
                            <NavLink class="nav-link" href="category">
                            <span class="oi oi-list" aria-hidden="true"></span> Catégories
                            </NavLink>
                            </li>

                            <li class="nav-item">
                            <NavLink class="nav-link" href="user">
                            <span class="oi oi-people" aria-hidden="true"></span> Utilisateurs
                            </NavLink>
                            </li>
                            </AuthorizeView> *@
                    </ul>

                    <div class="my-2 my-lg-0">
                        <span class="oi oi-cart mx-1"></span>
                        <span class="oi oi-person mx-1"></span>
                        @* <AccessControl /> *@
                    </div>
                </div>
            </nav>
        </div>

        <div class="content px-4 mb-4">
            @Body
        </div>

        <footer class="footer">
            <!-- Copyright -->
            <!--<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> -->
            <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright:
                <a class="text-dark"
                    href="https://www.efficom.fr/tech_school/mastere-expert-en-ingenierie-informatique/">Etudiants
                    Efficom Lille.</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}