@page "/"
@inject NavigationManager NavManager

<div class="jumbotron">
    <div class="row">
        <div class="col text-center">
            <img src="Images/logo_large.png" class="img-fluid mb-2" style="height: 150px;width: 150px">
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h4 class="font-weight-bold display-4" style="font-family: 'Ephesis', cursive;">Find All</h4>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <p>Etudiant en informatique nous avons comme projet de faire un site web.<br>

                Libre à nous de choisir sur quel sujet travaillé, utilisant pour la plupart de nos achats LeBonCoin ou
                Vinted nous avons voulus suivre l'exemple de ces derniers,<br>

                en effet l'objectif sur Find All est de pouvoir acheter de l'occasion, mais aussi de vendre ce dont vous
                n'utilisé plus chez vous.<br>

                Livrée ou en point relais vous retrouverais votre achat le plus rapidement possible.<br></p>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col text-center">
        <a class="btn btn-primary mx-2" href="produit">Consulter les articles en vente</a>
        @* <AuthorizeView> *@
        <a class="btn btn-primary mx-2" href="produit/new">Mettre en vente un produit</a>
        @* </AuthorizeView> *@
    </div>
</div>

@code {
    @* protected override async Task OnInitializedAsync()
        {
        NavManager.NavigateTo("/produit");
        } *@
}