@page "/"
@inject NavigationManager NavManager

<div class="jumbotron">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">Find All</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <p>Bienvenue sur Find All, site de vente en ligne. Mettez en vente vos articles ou acheter les des produits
                pour
                vous !</p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <a class="btn btn-primary" href="produit">Consulter les articles en vente</a>
        </div>
    </div>
</div>

@code {
    @* protected override async Task OnInitializedAsync()
        {
        NavManager.NavigateTo("/produit");
        } *@
}