@page "/produit"
@inject HttpClient Http
@inject NavigationManager NavManager

<div class="row">
    <div class="col">
        <h4>Produits en vente :</h4>
    </div>
</div>

<div class="row">
    <div class="col">
        @if (produits == null)
        {
            <p><em>Chargement ...</em></p>
        }
        else
        {
            <div class="row">
                @foreach (var produit in produits)
                {
                    <div class="col-4">
                        <div class="card mt-3">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h4>@produit.Libelle</h4>
                                    </div>

                                    <div class="col text-right">
                                        <p>@produit.Price €</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body text-center">
                                <div class="row">
                                    <div class="col">
                                        <img src="Images/gray.png" alt="@produit.Libelle - Image" class="w-100">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <p>@produit.Description</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col text-center">
                                        <a href="/produit/@produit.Id" class="btn btn-primary btn-sm">Consulter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>


@code {
    private Produit[] produits;

    protected override async Task OnInitializedAsync()
    {
        produits = await Http.GetFromJsonAsync<Produit[]>("https://localhost:5001/API/Produit");

    }
}
